body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: purple;
    /*background-image: url('wolf.jpg');*/
    color: black;
    font-size: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* z-index: 2; Ensure the header stays above other elements */
}

.tabs {

    display: flex;
    justify-content: left;
    padding-left: 20px;
    
}

.tab {
    background-color: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin-top: 2px;
    border: 2px solid white;
    border-radius: 5px;
    
}

.tab:hover {
    color: red;
}

.form-container {
    max-width: 900px;
    width: 100vw;
    max-height: 150vh;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 10px;
    margin-top: 5vw;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #3498db;
}

label {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin: 30px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    height: 4vh;
    margin-left: 30%;
}

button:hover {
    background-color: #2184c4;
}

h3 {
    margin-left: 60px;
    font-size: 13px;
    margin-top: 0;
}

@media all and (max-width: 800px) {

    .form-container {
        margin-top: 10%;
    }

}

@media all and (max-width: 430px) {

    .form-container {
        margin-top: 60%;
        border: none;
    }

}


@media all and (max-width: 375px) {

    .form-container {
        margin-top: 150%;
        border: none;
    }

}

@media all and (max-width: 500px) {

    .form-container {
        margin-top: 90%;
        border: none;
    }

}

@media all and (max-width: 410px) {

    .form-container {
        margin-top: 160%;
        border: none;
    }

}