body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.main-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: purple;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header h1 {
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 25px;
    margin-top: 9px;
    margin-left: 180px;
    box-sizing: border-box;
   
}

.tab-container {
    display: flex;
    background-color: transparent;
    position: relative;
    width: 45%;
    height: 40px;
    left: 35%;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-around;
    position: relative;
    height: 40px;
    font-size: 25px;
    margin-top: 0;
    background-color: transparent;
}

.tab {
    padding: 5px 5px;
    padding-top: 9px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.tab:hover {
    background-color: transparent; /* Darken the background on hover if desired */
}


/* Add these styles for the dropdown content */
.services-dropdown-section {
    position: relative;
    display: flex;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7cece;
    min-width: 100px;
    margin-top: 4vh;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1ca8ee;
}

.services-dropdown-section:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.arrow {
    position: absolute;
    left: 95%; /* Adjust the distance from the right side */
    top: 50%;
    transform: translateY(-50%);
}


.footer-section {
    display: flex;
    flex: 1 1 100%;
    background-color: purple;
    color: white;
    justify-content: center;
}

.footer-section p {
    margin: 0;
}

.footer-section img {
    max-width: 100px; /* Adjust the maximum width of your logo as needed */
    margin-top: 10px; /* Add margin above the logo */
}

.menu-icon {
    display: none;
}


.testing-type {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    background-color: rgb(84, 15, 84);
    color: white;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 0;
    margin-top: 30px;
    font-size: 40px;
}

.testing-type h4{
    margin: 0;
    background-color: transparent;
}

/*removing bullet points before ticks.*/
.testing-type ul {
        list-style: none;
        flex-direction: column;
        display: flex;
        padding: 0;
      }

.qaservices {
        display: flex;
        flex: 1 1 100%;
        margin-top:40px;
        padding: 3%;
        height: 200px;
        background-color: transparent;
        color: violet;
        box-sizing: border-box;   
        justify-content: center;
    }

.qaservices h2 {
        font-size: 80px;
        background-color: transparent;
        margin-top: 0;
        
    }

.methodology{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    background-color: transparent;
    color: white;
    font-size: 40px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
}


.methodology h4{
    font-size: 50px;
    margin: 0;
    padding: 0;
    
}

.methodology ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.steps {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    background-color: white;
    color: black;
    padding-left: 4%;
    font-size: 40px;
}

.steps ul {
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 0;
    margin: 0;
    padding-bottom: 100px;
}


.form {
    background-color: transparent;
    display: flex;
    flex: 1 1 100%;
    margin-top: 0;
    justify-content: center;
    box-sizing: border-box;

}

.input-container {
    display: flex;
    height: 100px;
    background-color: transparent;
    gap: 0; /* Remove the gap between input and button */
    justify-content: center;
    margin-top: 0;
}

/* Style for the email input */
#email {
    border-radius: 30px 0 0 30px; /* Rounded corners on the left */
    border: 1px solid purple; /* Add a border for better visibility */
    width: 300px; /* Adjust the width as needed */
    font-size: 25px;
    height: 96px;
}

/* Style for the Book Now button */
#bookNowForm button {
    border-radius: 0 30px 30px 0; /* Rounded corners on the right */
    border: 1px solid purple;
    background-color: black; /* Set the background color to black */
    color: white; /* Set text color to white */
    cursor: pointer;
    width: 40%;
    font-size: 25px;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hide the side menu by default */
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    color: white;
    transition: 0.3s;
}

@media all and (max-width: 1450px) {

    .menu-icon {
        display: block;
        position: absolute;
        right: 200px;
        top: 1px;
        font-size: 35px;
        color: black;
        cursor: pointer;
        background-color: transparent;
    }
 
    .arrow {
     left: 40%;
     top: 60%;
 }
 
 .side-menu {
     position: fixed;
     top: 0;
     left: -250px;
     width: 250px;
     height: 100%;
     background-color: rgba(51, 51, 51, 0.9);;
     padding-top: 60px;
     color: white;
     transition: 0.3s;
 }
 
 .side-tab {
     display: flex;
     background-color: transparent;
     color: white;
     text-decoration: none;
     flex-direction: column;
     list-style: none;
     padding: 10px;
     margin-left: 10px;
     margin-top: 0;
     font-size: 25px;
 }
 
 .services-dropdown-section {
     margin-left: 14px;
     font-size: 26px;
 }
 
 
 .close-icon {
     font-size: 40px;
     position: absolute;
     background-color: transparent;
     top: 30px;
     right: 10px;
     cursor: pointer;
     color: white; /* Add this line to set the icon color to white */
 }
 }

@media all and (max-width: 768px) {

   
    .header h1 {
        margin-left: 100px;
    }

    .menu-icon {

        right: 220px;
    }
}

@media all and (max-width: 480px) {


    .header h1 {
        margin-left: 50px;
    }

    .menu-icon {

        right: 110px;
    }

    #email {
        width:200px;
    }

    .qaservices h2 {
        font-size: 50px;
        padding-top: 10%;
    }

    .testing-type ul{
        font-size: 30px;

    }

    .steps h3 , .steps ul{
        font-size: 30px;
    }

    .methodology ul, .methodology p{
        font-size: 30px;
    }

    .methodology h4{
        font-size: 40px;

    }

}