/*Get it started page*/
body {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    font-family: Arial, sans-serif;
    height: 100vh; /* Use the full height of the viewport */
    margin: 0; /* Remove default body margin */
    background-image: url('form.jpeg');
    background-size: cover;
}
.header {
    background-color: none;
    /*background-image: url('wolf.jpg');*/
    color: white;
    font-size: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* z-index: 2; Ensure the header stays above other elements */
}

.tabs {

    border-top: 5px solid #3498db;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    
}

.tab {
    background-color: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    
}

.tab:hover {
    background-color: none; /* Darken the background on hover if desired */
}

.dynamic-form {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.dynamic-form input {
    margin-bottom: 10px;
}
.dev-form {
    font-size: 40px;
    text-decoration:none;
    display: flex;
    background-color: rgb(2, 2, 67);
    color: white;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    border-radius: 20px;
}
.qa-service-form {
    font-size: 40px;
    text-decoration:none;
    display: flex;
    background-color: rgb(2, 2, 67);
    color: white;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    border-radius: 20px;
}

.development-section-three h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    color: white;
}

.dev-form:hover {
    background-color: darkblue; /* Darken the background on hover if desired */
}

.started-container {
    box-sizing: border-box;
    max-width: 1000px; /* Set a maximum width for better readability */
    width: 100%; /* Take up the full width of the container */
    border: 2px solid #3498db; /* Add a border around the form */
    padding: 20px; /* Add some padding inside the form */
    margin-left: 800px;
}

.qa-service-form:hover {
    background-color: darkblue; /* Darken the background on hover if desired */
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
    .started-container {
        font-size: 18px;
        margin: 2%; /* Adjust margin to center the form horizontally */
        
    }

    .development-section-three h1,
    .qa-service-form,
    .dev-form {
        font-size: 25px;
        margin-left: 0%; /* Adjust margin to center the elements horizontally */
        width: 100%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 300px) {
    .qa-service-form,
    .dev-form {
        background-color: blue;
        
    }}

@media only screen and (max-width: 768px) and (min-width: 300px) {
    .header h1 {
        font-size: 25px;
        margin: 2%; /* Adjust margin to center the form horizontally */
        
    }}
    @media only screen and (max-width: 425px) and (min-width: 300px) {
        .tabs a{
            font-size: 15px;
            margin-left: 36%; /* Adjust margin to center the form horizontally */
            
        }}
        @media only screen and (max-width: 1080px) and (min-width:768px) {
            .tabs a{
                font-size: 15px;
                margin-left: 45%; /* Adjust margin to center the form horizontally */
                
            }}
            @media only screen and (max-width: 1080px) and (min-width: 768px) {
                .started-container {
                    font-size: 18px;
                    margin:0%; /* Adjust margin to center the form horizontally */
                    padding-top: 20%;
                    border: none;
                }
                .development-section-three h1,
                .qa-service-form,
                .dev-form {
                    font-size: 25px;
                    margin-left: 0%; /* Adjust margin to center the elements horizontally */
                    width: 100%;
                }
            }