body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


.header {
    padding-top: 200px;
    background-color: black;
    /*background-image: url('wolf.jpg');*/
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the header stays above other elements */
}

h1 {
    color: white;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.tab {
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.tab:hover {
    background-color: grey; /* Darken the background on hover if desired */
}

/* ... Existing styles ... */

.about-section {
    background-color: white;
    color: black;
    font-size: 50px;
    padding-top: 250px;
    margin-left: 20px;
    margin-right: 10px;
}

.about-section h2 {
    color: black;
    
}

/* ... Existing styles ... */

.services-section {
    background-color: white;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.services-section h3 {
    color: black;
    margin-bottom: 15px;
}

/* ... Existing styles ... */

.motivational-section {
    background-color: #00bcd4; /* Light blue color */
    color: white;
    font-size: 50px;
    padding: 20px;
    margin-top: 10px;
}

.motivational-section h3 {
    color: black;
    margin-bottom: 15px;
}

/* ... Existing styles ... */

.footer-section {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-section p {
    margin: 0;
}

.footer-section img {
    max-width: 100px; /* Adjust the maximum width of your logo as needed */
    margin-top: 10px; /* Add margin above the logo */
}

/* ... Existing styles ... */
.development-section {
    background-color: white;
    color: black;
    font-size: 50px;
    padding-top: 250px;
    margin-left: 20px;
    margin-right: 10px;

}
.testing-type {
    background-color: white;
    color: black;
    font-size: 50px;
    padding-top: 250px;
    margin-left: 20px;
    margin-right: 10px;
   
}

.methodology{
    background-color: white;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin-top: 20px; 
}

.sdet-services {
    background-color: white;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin-top: 20px;  
}
/* ... Existing styles ... */

/* Contact Section Styles */
.contact-section {
    background-color: white;
    color: black;
    font-size: 50px;
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

.contact-section h3 {
    color: black;
    margin-bottom: 15px;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

.menu-icon {
    display: none;
}

/* ... Existing styles ... */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */

    /* Header styles */
    .header {
        padding-top: 10px;
        font-size:15px;
        width: 100%;
        z-index: 1000; /* Ensure the header stays above other elements */
        position: fixed;
    }}

    @media screen and (max-width: 768px) {
        /* Adjust styles for smaller screens */
    
        /* Header styles */
        .about-section {
            padding-top: 100px;
            font-size: 20px;
        }}
        @media screen and (max-width: 768px) {
            /* Adjust styles for smaller screens */
        
            /* Header styles */
            .services-section{
                padding-top: 100px;
                font-size: 20px;
            }}
            @media screen and (max-width: 768px) {
                /* Adjust styles for smaller screens */
            
                /* Header styles */
                .contact-info {
                    padding-top: 100px;
                    font-size: 20px;
                }}
                @media screen and (max-width: 768px) {
                    /* Adjust styles for smaller screens */
                
                    /* Header styles */
                    .contact-section  {
                        padding-top: 100px;
                        font-size: 20px;
                    }}
                    @media screen and (max-width: 768px) {
                        /* Adjust styles for smaller screens */
                    
                        /* Header styles */
                        .sdet-services {
                            padding-top: 100px;
                            font-size: 20px;
                        }}
                        @media screen and (max-width: 768px) {
                            /* Adjust styles for smaller screens */
                        
                            /* Header styles */
                            .methodology {
                                padding-top: 100px;
                                font-size: 20px;
                            }}  
                            @media screen and (max-width: 768px) {
                                /* Adjust styles for smaller screens */
                            
                                /* Header styles */
                                .testing-type  {
                                    padding-top: 100px;
                                    font-size: 20px;
                                }}
                                @media screen and (max-width: 768px) {
                                    /* Adjust styles for smaller screens */
                                
                                    /* Header styles */
                                    .development-section  {
                                        padding-top: 100px;
                                        font-size: 20px;
                                    }}
                                    @media screen and (max-width: 768px) {
                                        /* Adjust styles for smaller screens */
                                    
                                        /* Header styles */
                                        .motivational-section  {
                                            padding-top: 100px;
                                            font-size: 20px;
                                        }}
                                        @media screen and (max-width: 768px) {
                                            /* Adjust styles for smaller screens */
                                        
                                            /* Header styles */
                                            .services-section  {
                                                padding-top: 100px;
                                                font-size: 20px;
                                            }}
                                            @media screen and (max-width: 768px) {
                                                /* Adjust styles for smaller screens */
                                            
                                                /* Header styles */
                                                .about-section  {
                                                    padding-top: 100px;
                                                    font-size: 20px;
                                                }}  
                                                @media only screen and (max-width: 768px) {
                                                    .tabs {
                                                        display: none;
                                                        flex-direction: column;
                                                        align-items: center;
                                                        width: 100%;
                                                        position: absolute;
                                                        top: 100px; /* Adjust according to your header height */
                                                        left: 0;
                                                        background-color: #333;
                                                        z-index: 1;
                                                    }
                                                
                                                    .tabs.show {
                                                        display: flex;
                                                    }
                                                
                                                    .tab {
                                                        padding: 15px;
                                                        text-align: center;
                                                        color: white;
                                                        text-decoration: none;
                                                        width: 100%;
                                                        box-sizing: border-box;
                                                        margin-top: 10px;
                                                        border-bottom: 1px solid #555;
                                                    }
                                                
                                                    .header {
                                                        position: fixed;
                                            
                                                    }
                                                
                                                    .menu-icon {
                                                        display: block;
                                                        position: absolute;
                                                        top: 60px;
                                                        right: 200px;
                                                        font-size: 40px;
                                                        color: white;
                                                        cursor: pointer;
                                                    }}
                                                     