/*background-image: url('wolf.jpg');*/
body {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    margin: 0;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    flex-wrap: wrap;
}


a {
    text-decoration: none;
}

.main-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: purple;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header h1 {
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 25px;
    margin-top: 9px;
    margin-left: 180px;
    box-sizing: border-box;
   
}

.tab-container {
    display: flex;
    background-color: transparent;
    position: relative;
    width: 45%;
    height: 40px;
    left: 35%;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-around;
    position: relative;
    height: 40px;
    font-size: 25px;
    margin-top: 0;
    background-color: transparent;
}

.tab {
    padding: 5px 5px;
    padding-top: 9px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.tab:hover {
    color: lightblue; /* Darken the background on hover if desired */
}


/* Add these styles for the dropdown content */
.services-dropdown-section {
    position: relative;
    display: flex;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7cece;
    margin-top: 40px;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1ca8ee;
}

.services-dropdown-section:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.arrow {
    position: absolute;
    left: 95%; /* Adjust the distance from the right side */
    top: 50%;
    transform: translateY(-50%);
}


.footer-section {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    box-sizing: border-box;
    background-color: purple;
    color: white;
    justify-content: center;
}

.footer-section p {
    margin: 0;
    text-align: center;
}

.footer-section img {
    max-width: 100px; /* Adjust the maximum width of your logo as needed */
    margin-top: 10px; /* Add margin above the logo */
}

.menu-icon {
    display: none;
}


#typewriter {
    font-size: 9vw;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;

}

/* ... Existing styles ... */

.services-section {
    display: flex;
    flex: 1 1 100% ;
    flex-direction: column;
    background-color: transparent;
    margin-top: 40px;
    margin-left: 0;
    padding-left: 10%;

}
.services-section h2 {
    font-size: 80px;
    width: 85%;
    color: purple;
    border-bottom:5px solid green;
    background-color: transparent;
    margin-left: 2%;
    
}

.services-section p {
    font-size: 50px;
    color: white;
    margin-left: 2%;
    width: 88%;
    background-color: transparent;
}

.services-grid:hover {
    transform: scale(1.1);
}

.services-section-two {

    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    box-sizing: border-box;
    background-color: transparent;
    
}

.services-section-two h3 {

    font-size: 80px;
    color: purple;
    text-align: center;
    margin-top: 30px;
 
}

.services-grids {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
    color: black;
    background-color: transparent;
    grid-template-rows: 180px 180px 10px;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 8%;

} 
.services-grid {

    border: 1px solid red;
    font-size: 25px;
    background-color: white;
    text-align: center;
    padding-top: 70px;
    transition: transform 0.1s ease-in-out;

} 

.motivational-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 40px;
    margin-left: 0;
    position: relative;

}

.motivational-section h3 {
    font-size: 80px;
    color: purple;
    margin-top: 0;
    width: 82%;
    margin-left: 12%;
}
.motivational-section p {
    font-size: 40px;
    width: 82%;
    color: white;
    margin-left: 12%;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hide the side menu by default */
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    color: white;
    transition: 0.3s;
}


@media all and (max-width: 1450px) {

   .menu-icon {
       display: block;
       position: absolute;
       right: 200px;
       top: 1px;
       font-size: 35px;
       color: black;
       cursor: pointer;
       background-color: transparent;
   }

   .arrow {
    left: 40%;
    top: 60%;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);;
    padding-top: 60px;
    color: white;
    transition: 0.3s;
}

.side-tab {
    display: flex;
    background-color: transparent;
    color: white;
    text-decoration: none;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    margin-top: 0;
    font-size: 25px;
}

.services-dropdown-section {
    margin-left: 14px;
    font-size: 26px;
}


.close-icon {
    font-size: 40px;
    position: absolute;
    background-color: transparent;
    top: 30px;
    right: 10px;
    cursor: pointer;
    color: white; /* Add this line to set the icon color to white */
}
}

@media all and (max-width: 768px) {

   

    .header h1 {
        margin-left: 100px;
    }


    .services-section p {

        font-size: 40px;
        
    }

    .menu-icon {

        right: 220px;
    }

    .services-grids {
        grid-template-rows: 100px 100px 100px 100px 20px ;  /* Set rows to "auto" for automatic flow */
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Allow items to flow into columns */
        gap: 1%;
        margin-bottom: 0;
    }

    .services-grid {
         padding-top: 30px;
    }

    .services-section-two h3 {
        font-size: 80px;
    }

    .motivational-section h3 {
        font-size: 60px;
    }

    .motivational-section p {
        font-size: 40px;
    }
}

@media all and (max-width: 632px) {

.services-grids {
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px ;; /* Set rows to "auto" for automatic flow */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Allow items to flow into columns */
    gap: 0;
}
.services-section-two h3 {
    font-size: 50px;
}

.services-section-two{
    margin-bottom: 5px;
}
.services-grid {
    padding-top: 18px;
}

}


@media all and (max-width: 480px) {


    .header h1 {
        margin-left: 50px;
    }

    .menu-icon {

        right: 110px;
    }

    .services-section-two h3 {
        font-size: 30px;
    }

    .services-section h2 {
        font-size: 40px;
    }

    .services-section p{
        font-size: 20px;
    }

    .services-grids {
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px ;; /* Set rows to "auto" for automatic flow */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Allow items to flow into columns */
        gap: 0;
    } 

    .services-grid{
        font-size: 15px;
    }
    .motivational-section h3 {
        font-size: 40px;
    }

    .motivational-section p {
        font-size: 25px;
    }

}
                                                        

.input-container {
        display: flex;
        height: 100px;
        background-color: transparent;
        gap: 0; /* Remove the gap between input and button */
        justify-content: center;
        margin-top: 0;
    }
    
    /* Style for the email input */
#email {
        border-radius: 30px 0 0 30px; /* Rounded corners on the left */
        border: 1px solid purple; /* Add a border for better visibility */
        width: 300px; /* Adjust the width as needed */
        font-size: 25px;
        height: 96px;
    }
    
    /* Style for the Book Now button */
 #bookNowForm button {
        border-radius: 0 30px 30px 0; /* Rounded corners on the right */
        border: 1px solid purple;
        background-color: black; /* Set the background color to black */
        color: white; /* Set text color to white */
        cursor: pointer;
        width: 40%;
        font-size: 25px;
    }